.mainbox {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 80px 0;
    overflow-y: scroll;
    background-color: #eff0ea;
  }
  
  .mainbox2 {
    position: relative;
    width: 350px;
    height: 50px;
    padding: 0px 0px;
    box-shadow: 0px 3px 7px 3px #d5d5d5;
    background-color: #c593e4;
  }

  .mainbox3 {
    position: relative;
    width: 350px;
    margin-block: 40px;
    height: 300px;
    padding: 30px 30px 30px;
    box-shadow: 0px 3px 7px 3px #d5d5d5;
    background-color: #ffffff;
  }


  .napis > p {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin: 15px;

  }